
<h1>connected</h1>

counter {{counter}}



<p>
    <button>
        <a href="https://www.codewars.com/api/v1/users/DuncantheeDuncan">link me</a>
    </button>
</p>

<div>
    <a href="/greet">greet</a>
</div>